<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Добро пожаловать в приложение «Список дел»</h2>


<p>Здесь будут показаны все ваши дела на ближайшую неделю</p>



<ol>
    <li> <a href="/week/monday/">Monday </a> </li>
    <li> <a href="/week/tuesday/">Tuesday </a> </li>
    <li> <a href="/week/wednesday/">Wednesday </a> </li>
    <li> <a href="/week/thirsday/">Thirsday </a> </li>
    <li> <a href="/week/friday/">Friday </a> </li>
    <li> <a href="/week/saturday/">Saturday </a> </li>
    <li> <a href="/week/sunday/">Sunday </a> </li>
</ol>

</body>
</html>